services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: classificadordb
    ports:
      - "5432:5432"
    volumes:
      - ./data:/docker-entrypoint-initdb.d
      - ./csvdata:/csvdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d classificadordb"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy